<% provide(:title, "home") %>
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <p>Hello, world!</p>
    <a href="/static_pages/about">about</a>
    <a href="/static_pages/help">help</a>
  </body>
</html>
